@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

#app {
}

.btn-group {
  margin-bottom: 1em;
}

#profile {
  font-family: 'Eagle Lake', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}